body {
	background: #eeeeee;
  	font-family: Helvetica, Arial, sans-serif;
  	font-size: 14px;
  	padding: 20px;
}

a {
	color: #2382c8;
}

#page {
	background: #ffffff;
	width: 800px;
	margin: 0px auto;
	padding: 15px;
}

#header {}

#header #title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 40px;
}

#content {}

.list {}

.list .item {
	width: 200px;
	padding: 10px;
	background: #E7ECEE;
	margin-bottom: 10px;
}

table {
	border-right: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
}

table tr {

}

table tr th {
	border-top: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	padding: 8px;
	text-align: left;
}

table tr td {
	border-top: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	padding: 8px;
}

.home {
	margin-top: 30px;
}

#footer {
	font-size: 12px;
	margin-top: 40px;
}